{% extends "layout.html" %}
{% block body %}
  <form class="form-shortener" method=post>
    {% if not short_url %}
    <h4 class="form-shortener-heading">Here will be your short url</h4>
    {% else %}
    <h4><a href={{ short_url }}>{{ short_url }}</a></h4>
    {% endif %}
    {{ form.full_url(class="input-block-level", placeholder="Drop your url here") }}
    <button type="submit" class="btn btn-primary">Make it short!</button>
    {% if form.full_url.errors %}
      <ul class="text-error">
        {% for error in form.full_url.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}           
  </form>
{% endblock %}
